In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/shivang98/Social-Network-ads-Boost/master/Social_Network_Ads.csv")

In [ ]:
df.head

<bound method NDFrame.head of       User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]>

In [ ]:
df.head(5)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [ ]:
df.shape

(400, 5)

In [ ]:
#Get input variable, features into X and outcome variable in Y

X = df.drop(['Gender', 'Purchased'], axis=1)
Y = df['Purchased']

In [ ]:
X.head()

    User ID  Age  EstimatedSalary
0  15624510   19            19000
1  15810944   35            20000
2  15668575   26            43000
3  15603246   27            57000
4  15804002   19            76000

In [ ]:
# Split the data into Train set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state = 42)
print("Training, Testing and Splitting is successful")

Training, Testing and Splitting is successful

In [ ]:
#Build Model
from sklearn.linear_model import LogisticRegression
basemodel = LogisticRegression()
basemodel.fit(X_train, Y_train)

LogisticRegression()

In [ ]:
print("Training Accuracy:", basemodel.score(X_train, Y_train)*100)

Training Accuracy: 78.75

In [ ]:
#Predict Data
Y_predict = basemodel.predict(X_test)
print("Testing Accuracy:", basemodel.score(X_test, Y_test)*100)

Testing Accuracy: 73.75

In [ ]:
#Min Max Normalization
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X = df[['Age', 'EstimatedSalary']]
X_scaled = scaler.fit_transform(X)
X_train, X_test, Y_train, Y_test = train_test_split(X_scaled, Y, test_size = 0.2, random_state=42)
print("Normalization is Successful")

Normalization is Successful

In [ ]:
model = LogisticRegression()
model.fit(X_train, Y_train)
Y.predict = model.predict(X_test)
print("training Accuracy:", model.score(X_train, Y_train)*100)
print("Testing Accuracy:", model.score(X_test, Y_test)*100)

training Accuracy: 80.9375
Testing Accuracy: 87.5

In [ ]:
#Measure performance of model
from sklearn.metrics import accuracy_score
Acc = accuracy_score(Y_test, Y_predict)
print(Acc)

0.7375

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test, Y_predict)
print(cm)

[[49  3]
 [18 10]]

In [ ]:
from sklearn.metrics import classification_report
cr = classification_report(Y_test, Y_predict)
print(cr)

              precision    recall  f1-score   support

           0       0.73      0.94      0.82        52
           1       0.77      0.36      0.49        28

    accuracy                           0.74        80
   macro avg       0.75      0.65      0.66        80
weighted avg       0.74      0.74      0.71        80